<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  {{ partial "header" (dict "Title" .Title) }}

  <div style="margin:10px; padding:10px; ">{{.Content}}</div>
  {{ range .Pages }}
    <div style="margin:10px; padding:10px; ">
      <div style="font-size:20px;"><a href="{{.URL}}">{{.Title}}</a></div>
      <div style="color:grey; font-size:16px;">{{ dateFormat "January 2006" .Date }}</div>
    </div>
  {{ end }}

  {{ partial "footer" . }}
</body>
</html>
