<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/manual.css">
  <link rel="stylesheet" href="/fonts/computer-serif/cmun-serif.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        displayMath: [['$$','$$'], ['\\[','\\]']],
        processEscapes: true,
        processEnvironments: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        TeX: { equationNumbers: { autoNumber: "AMS" },
        extensions: ["AMSmath.js", "AMSsymbols.js"] }
      }
    });
  </script>
</head>
<body>
  {{ partial "header" (dict "Title" .Title) }}

  <article>
    <header>
      <h1>{{.Title}}</h1>
    </header>
    <div style="color:grey; font-size:16px;">{{ dateFormat "January 2006" .Date }}</div>
    {{.Content}}
  </article>

  {{ partial "footer" . }}
</body>
</html>
